* {
  margin: 0;
  padding: 0;
}

.form .container .intro__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 38px;
}
.form .container .intro__form .form__title {
  color: #2B788B;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1px;
}
.form .container .intro__form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form .container .intro__form form .form__input {
  padding: 20px 279px 34px 39px;
  color: #2B788B;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  letter-spacing: -0.6px;
  border-radius: 100px;
  background: #C3DCE3;
  border: none;
  margin-top: 36px;
}
.form .container .intro__form form .form__button {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  letter-spacing: -0.6px;
  padding: 14px 37px 30px 22px;
  border-radius: 100px;
  background: var(--primaty-cyan-dark, #2B788B);
  border: none;
  margin-top: 35px;
  margin-left: 20px;
}